<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}">Title</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div class="col-sm-4 col-sm-offset-4">
			<form action="#" th:action="@{/edit-club-profile}"
				th:object="${club}" method="post">
				<h3 class="form-signin-heading">Completa los datos del Club:</h3>
				<br />
				<div class="form-group form-group-lg">
					<input class="form-control" type="text" th:field="*{name}"
						placeholder="Nombre del club" />
				</div>
				<div class="form-group form-group-lg">
					<input class="form-control" type="text" th:field="*{location}"
						placeholder="Ubicacion" />
				</div>
				<div class="form-group form-group-lg">
					<input class="form-control" type="text" th:field="*{phone}"
						placeholder="Telefono" />
				</div>
				<div class="form-group form-group-lg">
					<input class="form-control" type="text" th:field="*{contactName}"
						placeholder="Nombre de contacto" />
				</div>
				<input class="btn btn-primary btn-lg btn-block" type="submit"
					value="Finalizar" />
			</form>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>
